<div class="card-body mat-card" id="proyects-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-light boton-transp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProyects" aria-expanded="false" aria-controls="collapseProyects" (click)="toggleArrow()">{{arrow}} Proyectos</button>
            </div>
            <div class="col">
                <input *ngIf="edicion" class="btn-actions" type="image" src="../../../assets/img/add.png" (click)="nuevoProyecto()">
            </div>
        </div>
        <div class="collapse" id="collapseProyects">
            <div *ngFor="let p of proyectos" class="row">
                <div class="col-10 m-3">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h5>{{p.nombre}} ({{p.fecha | date: 'yyyy'}})</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p>{{p.descripcion}}</p>
                            <hr>
                        </div>
                    </div>


                </div>
                <div *ngIf="edicion" class="col">
                    <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png" (click)="borrarProyecto(p)">
                    <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png" (click)="editarProyecto(p)">
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalProy let-modal let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{tituloModal}}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>

    <div class="modal-body">
        <div class="modal-body flex-nowrap">
            <div class="row">
                <label style="padding-left: initial;" for="txtProFecha">Fecha:</label>
                <input id="txtProFecha" type="date" class="form-control" [(ngModel)]="editPro.fecha">
            </div>
            <div class="mt-3 row">
                <label style="padding-left: initial;" for="txtProNombre">Nombre del proyecto:</label>
                <input id="txtProNombre" class="form-control" [(ngModel)]="editPro.nombre">
            </div>
            <div class="mt-3 row">
                <label style="padding-left: initial;" for="txtProDesc">Descripción:</label>
                <textarea id="txtProDesc" class="form-control" [(ngModel)]="editPro.descripcion"></textarea>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarProyecto()">
            {{captionBtnModal}}
        </button>
    </div>

</ng-template>