<div class="card-body mat-card" id="edu-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Educación</h5>
            </div>
            <div class="col">
                <input *ngIf="edicion" class="btn-actions" type="image" src="../../../assets/img/add.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>1996 – 2001: Técnico en electricidad y electrónica industrial. Completo. Escuela Industrial n° 4 “José Menéndez” – Río Gallegos, Santa Cruz, Argentina.</p>
            </div>
            <div *ngIf="edicion" class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2002: Ingeniería Electrónica Primer año completo. Universidad Tecnológica Nacional, Facultad Regional Córdoba, Argentina.</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2003-2005: Ingeniería en sistemas de información Completo 3 años de 5. Universidad Tecnológica Nacional, Facultad Regional Córdoba, Argentina.
                </p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2005: Programación Visual Basic (Instituto C.UNIX – Córdoba)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2009: ABAP Nivel inicial (Electroingenieria S.A. Cordoba)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2010: Excel 2007 Nivel avanzado (Harriague + asociados, Cordoba)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2010: Logística y gestión de almacenes (Kinetic - Cordoba)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2010: Gestión y depuración de registro maestro de materiales (SIM Ingeniería – Buenos Aires)
                </p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2014: Inventarios de mantenimiento – herramientas para una gestión eficiente (SIM Ingeniería – Rosario)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2014: Diploma en Logística empresarial y gestión de la cadena de suministros (Universidad Tecnológica Nacional – Facultad Regional Córdoba)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>2021: Argentina Programa: #SéProgramar (Ministerio Desarrollo Productivo de Argentina)</p>
            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
    </div>
</div>