<div class="card-body mat-card" id="edu-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h4 class="card-title">Educación</h4>
            </div>
            <div class="col">
                <input *ngIf="edicion" class="btn-actions" type="image" src="../../../assets/img/add.png">
            </div>
        </div>
        <div *ngFor="let edu of educacion" class="row">
            <div class="col-10">
                <p>{{edu.fechaEgreso + ": " + edu.carrera + " (" + edu.institucion +") "}}</p>
                <hr>
            </div>
            <div *ngIf="edicion" class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
    </div>
</div>