<div class="card-body mat-card" id="about-card">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-11">
                <button class="btn btn-lg btn-light boton-transp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout" (click)="toggleArrow()">{{arrow}} Acerca</button>
                <div class="collapse m-3" id="collapseAbout">
                    <p id="pAboutText" class="w-100">{{ txtAbout }}</p>

                </div>
            </div>
        </div>
    </div>
</div>