<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0 mb-4 border-bottom header">
    <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="header-image" src="../../../assets/img/APLogo-20-20.png">
        <span class="header-text">#YoProgramo</span>
    </a>


    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a href="https://www.facebook.com/juanmolmos" target="_blank"><img class="social-image" src="../../../assets/img/facebook.png"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/juanmanuelolmos.cba/" target="_blank"><img class="social-image" src="../../../assets/img/instagram.png"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/juan-manuel-olmos" target="_blank"><img class="social-image" src="../../../assets/img/linkedin.png"></a>
        </li>

    </ul>
    <div class="col-md-3 text-end">
        <span>{{lblUser}}</span>
        <button id="btnLogin" type="button" class="btn btn-primary" style="margin: 10px;" (click)="showModal()">{{ txtLogBtn }}</button>
    </div>
</header>



<ng-template #modalLogin let-modal let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Iniciar sesión
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>

    <div class="modal-body">
        <div class="modal-body flex-nowrap">
            <div class="row">
                <label style="padding-left: initial;" for="txtEmail">Correo electrónico:</label>
                <input id="txtEmail" type="email" class="form-control" placeholder="usuario@dominio.com" [(ngModel)]="txtEmail">
            </div>
            <div class="mt-3 row">
                <label style="padding-left: initial;" for="txtPass">Clave:</label>
                <input id="txtPass" type="password" class="form-control" [(ngModel)]="txtPass">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" (click)="login()" class="btn btn-primary">
            Enviar
        </button>
    </div>

</ng-template>