<div class="card-body mat-card" id="exp-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExp" aria-expanded="false" aria-controls="collapseExp">Experiencia</button>
            </div>

            <div class="col">
                <input *ngIf="edicion " class="btn-actions" type="image" src="../../../assets/img/add.png">
            </div>
        </div>
        <div class="collapse m-3" id="collapseExp">
            <div *ngFor="let exp of experiencias" class=" row ">
                <div class="col-1"></div>
                <div class="col-10 ">
                    <p>{{ exp.fechaInicio | date: "yyyy" + " - "}}{{ exp.fechaFin | date: "yyyy" +": "}}{{exp.empresa + ": "}}{{exp.puesto}}</p>
                    <hr>
                </div>
                <div *ngIf="edicion " class="col">
                    <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                    <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png ">
                </div>
            </div>
        </div>

    </div>
</div>