<div class="card-body mat-card" id="skills-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Hard & Soft Skills</h5>
            </div>
            <div class="col">
                <input *ngIf="edicion" class="btn-actions" type="image" src="../../../assets/img/add.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">

                <h6>Inglés</h6>
                <progress style="width: 100%" max=100 value=70></progress>


            </div>
            <div *ngIf="edicion" class="col">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="../../../assets/img/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">

                <h6>Resolución de problemas</h6>
                <progress style="width:100%;" max=100 value=90></progress>


            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="images/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="images/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">

                <h6>Trabajo en equipo</h6>
                <progress style="width:100%;" max=100 value=75></progress>


            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="images/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="images/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">

                <h6>Capacidad de aprenizaje</h6>
                <progress style="width:100%;" max=100 value=85></progress>


            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="images/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="images/outline_edit_black_24dp.png">
            </div>
        </div>
        <div class="row">
            <div class="col-10">

                <h6>Edición de audio</h6>
                <progress style="width:100%;" max=100 value=50></progress>


            </div>
            <div class="col">
                <input class="btn-actions" type="image" src="images/outline_delete_black_24dp.png">
                <input class="btn-actions" type="image" src="images/outline_edit_black_24dp.png">
            </div>
        </div>
    </div>

</div>